/* Base */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

:root {
  font-size: 16px;
  --primary-blue: rgb(201 226 230);
}

body {
  font-family: sans-serif, Geneva, Tahoma;
}

/* Home */

#home {
  width: 100vw;
  height: 100vh;
}

#home div.card-container {
  width: 100%;
  height: 33%;
}

#home div.card-container img {
  height: 55%;
  width: 100%;
  object-fit: fill;
}

#home div.card-container h1 {
  font-size: 1.3em;
  padding: 5px 20px 5px 20px;
}

#home div.card-container p {
  font-size: 0.8em;
  padding: 0px 20px 5px 20px;
  color: rgb(141, 141, 141);
}

#home div.card-container a {
  color: black;
}

/* Header component */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 10vh;
  background-color: #3dc4fc;
}

header > a {
  height: 60%;
}

header > a > img {
  height: 100%;
}

/* Card component */

.cardContainer {
  display: flex;
  width: 100vw;
  height: 20vh;
  border-bottom: 1px solid grey;
}

.cardContainer div.subCardImg > img {
  object-fit: contain;
  height: 120px;
  width: 70px;
}

.cardContainer div.subCardImg {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardContainer div.subCard {
  width: 75%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardContainer div.subCard h2 {
  margin-bottom: 10px;
}

.cardContainer div.subCard h4 {
  margin-bottom: 10px;
  color: rgb(141, 141, 141);
  font-weight: lighter;
}

.cardContainer div.subCard p {
  font-size: 0.7rem;
  font-weight: bold;
}
